@import-normalize;
@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

body, #root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #fafafa;
}

* {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
}
